{% extends 'base.html' %}

{% block title %}{{ object_id }} -- Light Curve{% endblock %}

{% block content %}
  <div class="row">
    <div class="col col-sm-2">
      {% include 'datatable/source_navbar_content.html' %}
    </div>
    
	<div class="col-lg-9 pl-40">
  	 <h6 class="ti-12 mb-0">                                    APOGEE ID                                                          TIC ID</h6>
  	 <h2> {{object_id}}  /  {{borja.0.TIC}}</h2>
	  <br>
      <h4>Light Curve</h4>
	  <br>
    </div>
  
  
  
  <div class="row p-y-15">
		<div class="row">
		  <p>Where a plot of the light curve from TESS, Kepler, Gaia, etc. can go. Data will probably come from Don.</p>
		</div>
    </div>
  
  
{% endblock %}