{% extends 'base.html' %}

{% block title %}{{ object_id }} -- SED{% endblock %}

{% block content %}
  <div class="row">
    <div class="col col-sm-2">
      {% include 'datatable/source_navbar_content.html' %}
    </div>
    
	<div class="col-lg-9 pl-40">
  	 <h6 class="ti-12 mb-0">                                    APOGEE ID</h6>
  	 <h2> {{object_id}}</h2>
	  <br>
      <h4>Spectral Energy Distribution (SED)</h4>
	  <br>
    </div>
  
  
  
  <div class="row p-y-15">
		<div class="row">
		 <p>Where a plot of the SED can go. Need to get fluxes for the various passbands from Borja.</p>
		</div>
    </div>
  
  
{% endblock %}