{% extends 'base.html' %}

{% block title %}{{ object_id }} -- SED{% endblock %}

{% block content %}
  <div class="row">
    <div class="col col-sm-2">
      {% include 'datatable/source_navbar_content.html' %}
    </div>
    
	<div class="col-lg-9" style="padding-left: 40px;">
	  <h1>{{object_id}}</h1>
	  <br>
      <h3>Spectral Energy Distribution (SED)</h3>
	  <br>
    </div>
  
  
  
  <div class="row p-y-15">
		<div class="row">
		 <p>Where a plot of the SED can go. Need to get fluxes for the various passbands from Borja.</p>
		</div>
    </div>
  
  
{% endblock %}