{% extends 'base.html' %}

{% block title %}{{ object_id }} -- Summary{% endblock %}

{% block content %}
  <div class="row">
    <div class="col col-sm-2">
      {% include 'datatable/source_navbar_content.html' %}
    </div>
    
	<div class="col-lg-9 pl-40 pb-20">
	 <h6 class="ti-12 mb-0">                                    APOGEE ID                                                                                 Gaia ID</h6>
	 <h2> {{object_id}}  /  {{borja.0.Gaia_ID}}</h2>
	  <br>
      <h4>General Overview of Spectro-Photometric Data</h4>
    </div>
	
	
	<div class="row p-y-15">
	  
      <h6> System Parameters from Anguiano+2022 Catalog + Photometric/Astrometric Data</h6>
	  
	  <table id='valueadded' class="myline mystripes-td ti-15 mt-15 mb-25" style="width:85%; text-align: center;">
  	   <tbody>
		  
          <tr class="prespace">
	        <th>WD T   [K]</th>
	        <th>WD Radius   [R<sub>&CirclePlus;</sub>]</th>
	        <th>SED Prim. T   [K]</th>
	        <th>Prim. Radius   [R<sub>&#10752;</sub>]</th>
            <th>&Delta;RV<sub>max</sub>   [km s<sup>-1</sup>]</th>
  		    <th>&Delta;RV<sub>max, S/N>40</sub>   [km s<sup>-1</sup>]</th>
          </tr>
		  
	      <tr>
		    <td>{{borja.0.TWD|floatformat:"0g"}}</td>
			<td>{{borja.0.RWD|floatformat:"-1"}}</td>
			<td>{{borja.0.TRed|floatformat:"0g"}}</td>
			<td>{{borja.0.RRed|floatformat:"-1"}}</td>
			<td>{{borja.0.DRVM|floatformat:"-2"}}</td>
			<td>{{borja.0.DRVM_SNR40|floatformat:"-2"}}</td>
		  </tr>
		  
	    </tbody>
      </table>
	  
	  <table id='astrometrics' class="myline mystripes-td ti-13 mb-25" style="width:85%; text-align: center;">
		<tbody>
		  <tr class="prespace">
  			<th>Gaia EDR3 ID</th>
  		    <th>EDR3 Parallax   [mas]</th>
            <th>EDR3 &mu;<sub>RA</sub>   [mas/yr]</th>
  		    <th>EDR3 &mu;<sub>Dec</sub>   [mas/yr]</th>
  		    <th>EDR3 Bailer-Jones <i>d</i>   [pc]</th>
		  </tr>
		  
	      <tr>
			<td>{{allStar.0.Gaia_EDR3_ID}}</td>
			<td>{{allStar.0.Gaia_EDR3_para|floatformat:"-2"}}</td>
			<td>{{allStar.0.Gaia_EDR3_pmra|floatformat:"-2"}}</td>
			<td>{{allStar.0.Gaia_EDR3_pmdec|floatformat:"-2"}}</td>
			<td>{{allStar.0.Gaia_EDR3_BJd|floatformat:"-1"}}</td>
		  </tr>
		  
		</tbody>
	  </table>
		  
	  
	  <table id='photometry' class="myline mystripes-td ti-13 mb-50" style="width:85%; text-align: center;">
		<tbody>
		  <tr class="prespace">
		  
		  <tr>
	        <th>Gaia B<sub>p</sub></th>
			<th>Gaia G</th>
			<th>Gaia R<sub>p</sub></th>
			<th>2MASS J</th>
	        <th>2MASS H</th>
			<th>2MASS K<sub>s</sub></th>
          </tr>
		  
	      <tr>
		    <td>{{allStar.0.Gaia_EDR3_bp|floatformat:"-2"}}</td>
			<td>{{allStar.0.Gaia_EDR3_G|floatformat:"-2"}}</td>
			<td>{{allStar.0.Gaia_EDR3_rp|floatformat:"-2"}}</td>
			<td>{{allStar.0.J|floatformat:"-2"}}</td>
			<td>{{allStar.0.H|floatformat:"-2"}}</td>
			<td>{{allStar.0.K|floatformat:"-2"}}</td>
		  </tr>
		   
		</tbody>
	  </table>
	  
	   <h6 class="mt-10" style="margin-bottom: -20px"> All allStar Entries and Their Associated allVisit Entries:</h6>
	  {% for i in allStar %}
		
		<table id='apogee_basics' class="myline mystripes-td ti-14 mt-50" style="width:95%; text-align: center;">
		  <tbody>
  	        <tr class="prespace">
    	      <th>RA</th>
    	      <th>Dec</th>
			  <th>Field</th>
			  <th>Loc ID</th>
              <th>Telescope</th>
		      <th>S/N</th>
		      <th>&chi;<sup>2</sup></th>
  	        </tr>
		    <tr>
  			  <td>{{i.RA}}</td>
  			  <td>{{i.Dec}}</td>
			  <td>{{i.field}}</td>
			  <td>{{i.LocID}}</td>
			  <td>{{i.telescope}}</td>
			  <td>{{i.SNR|floatformat:"0"}}</td>
			  <td>{{i.chi2|floatformat:"-1"}}</td>
			</tr>
			
            <tr class="space">
  		  </tr>
			
  	        <tr class="prespace">
			  <th>cal T<sub>eff</sub>   [K]</th>
			  <th>cal log(g)</th>
	          <th>vsin(i)   [km s<sup>-1</sup>]</th>
			  <th>uncal T<sub>eff</sub>   [K]</th>
			  <th>uncal log(g)</th>
			  <th>[Fe/H]</th>
			  <th>[M/H]</th>
			  <th>[&alpha;/Fe]</th>
  	        </tr>
		    <tr>
		      <td>{{i.Teff_cal|floatformat:"0g"}}</td>
			  <td>{{i.logg_cal|floatformat:"-2"}}</td>
			  <td>{{i.vsini|floatformat:"-1"}}</td>
		      <td>{{i.Teff_uncal|floatformat:"0g"}}</td>
			  <td>{{i.logg_uncal|floatformat:"-2"}}</td>
			  <td>{{i.Fe_H|floatformat:"-2"}}</td>
			  <td>{{i.M_H|floatformat:"-2"}}</td>
			  <td>{{i.alpha_Fe|floatformat:"-2"}}</td>
			</tr>
			
		  </tbody>
		 </table>
		  
	 <table id='apogee_chems' class="myline mystripes-td ti-12 mt-30 mb-30" style="width:95%; text-align: center;">
  	  <tbody>
		  
        <tr>
		  <th>[C/H]</th>
		  <th>[CI/H]</th>
          <th>[N/H]</th>
		  <th>[O/H]</th>
		  <th>[Na/H]</th>
		  <th>[Mg/H]</th>
		  <th>[Al/H]</th>
		  <th>[Si/H]</th>
          <th>[P/H]</th>
		  <th>[S/H]</th>
		  <th>[K/H]</th>
		  <th>[Ca/H]</th>
		  <th>[Ti/H]</th>
         </tr>
		  
		  <tr>
		    <td>{{i.C_H|floatformat:"-2"}}</td>
			<td>{{i.CI_H|floatformat:"-2"}}</td>
			<td>{{i.N_H|floatformat:"-2"}}</td>
			<td>{{i.O_H|floatformat:"-2"}}</td>
			<td>{{i.Na_H|floatformat:"-2"}}</td>
			<td>{{i.Mg_H|floatformat:"-2"}}</td>
		    <td>{{i.Al_H|floatformat:"-2"}}</td>
			<td>{{i.Si_H|floatformat:"-2"}}</td>
			<td>{{i.P_H|floatformat:"-2"}}</td>
			<td>{{i.S_H|floatformat:"-2"}}</td>
			<td>{{i.K_H|floatformat:"-2"}}</td>
			<td>{{i.Ca_H|floatformat:"-2"}}</td>
			<td>{{i.Ti_H|floatformat:"-2"}}</td>
		  </tr>
		  
          <tr class="space">
		  </tr>
		  
          <tr>
  		    <th>[TiII/H]</th>
            <th>[V/H]</th>
  		    <th>[Cr/H]</th>
  		    <th>[Mn/H]</th>
  		    <th>[Co/H]</th>
  		    <th>[Ni/H]</th>
  		    <th>[Cu/H]</th>
            <th>[Ge/H]</th>
  		    <th>[Rb/H]</th>
  		    <th>[Ce/H]</th>
  		    <th>[Nd/H]</th>
			<th>[Yb/H]</th>
           </tr>
		   
 		  <tr>
 		    <td>{{i.TiII_H|floatformat:"-2"}}</td>
 			<td>{{i.V_H|floatformat:"-2"}}</td>
 			<td>{{i.Cr_H|floatformat:"-2"}}</td>
 			<td>{{i.Mn_H|floatformat:"-2"}}</td>
 			<td>{{i.Co_H|floatformat:"-2"}}</td>
 			<td>{{i.Ni_H|floatformat:"-2"}}</td>
 		    <td>{{i.Cu_H|floatformat:"-2"}}</td>
 			<td>{{i.Ge_H|floatformat:"-2"}}</td>
 			<td>{{i.Rb_H|floatformat:"-2"}}</td>
 			<td>{{i.Ce_H|floatformat:"-2"}}</td>
 			<td>{{i.Nd_H|floatformat:"-2"}}</td>
 			<td>{{i.Yb_H|floatformat:"-2"}}</td>
 		  </tr>
		  
	  </tbody>
     </table>
	 
	 <table id='apogee_visits' class="visstyle rounded ti-12 mb-20" style="width:80%;">
  	  <tbody>
	    <tr>
		  <th><u>Field</u></th>
		  <th><u>Loc ID</u></th>
		  <th><u>Plate</u></th>
		  <th><u>Telescope</u></th>
		  <th><u>JD</u></th>
		  <th><u>Date</u></th>
		  <th><u>RV</u></th>
		  <th><u>RV Unc</u></th>
		  <th><u>S/N</u></th>
	    </tr>  
		
  		{% for j in allVisit %}
  		  {% if i.LocID == j.LocID and i.field == j.field %}
			  <tr>
				<td>{{j.field}}</td>
				<td>{{j.LocID}}</td>
				<td>{{j.plate}}</td>
				<td>{{j.telescope}}</td>
				<td>{{j.jd}}</td>
				<td>{{j.date}}</td>
				<td>{{j.rv|floatformat:"-3"}}</td>
				<td>{{j.rverr|floatformat:"-3"}}</td>
				<td>{{j.snr|floatformat:"0"}}</td>
			  </tr>
  		   {% endif %}
  		{% endfor %}
		  
	  </tbody>
    </table>
	
	{% if i.graph %}
 		<div class="row" >
 			{{ i.graph|safe }}
 		</div>
	{% endif %}
	
	{% endfor %}
	  
	</div>
	
	
  
  
{% endblock %}